$c-dark-grey: #222222;
$c-medium-grey: #363636;
$c-light-grey: #444444;
$c-green: #3b683f;
$c-dark-green: #2a492d;
$c-light-green: #4c8551;

$c-red: #944040;
$c-dark-red: #632d2d;
$c-light-red: #a44c4c;

$c-text: #ebd2b6;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

$c-border: 10px solid $c-light-grey;
$transition-length: 0.2s;

$header-height: 50px;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
